<div class="container" ng-controller="UserRegisterCtrl">

    <div id="isa_error" class="isa_error" style="visibility:hidden">
        <i class="fa fa-times-circle">
            <span id="error_msg_text"></span>
        </i>
    </div>

    <!--page title section-->
    <section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="assets/img/bg/bg-img.png">
        <div class="overlay_dark"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-6">
                    <div class="inner_cover_content">
                        <h3>
                            Registration form
                        </h3>
                        <div class="card-body">
                        </div>

                        <div class="form-group">
                            <form id="contact" ng-controller="UserRegisterCtrl" ng-submit="submit()" method="post">
                                <div class="form-group">
                                    <input ng-model="name" type="text" class="form-control" placeholder="name" required minlength="2"
                                           maxlength="50">
                                </div>
                                <div class="form-group">
                                    <input id="surname" ng-model="surname" type="text" class="form-control" placeholder="surname" required minlength="2"
                                           maxlength="50">
                                </div>
                                <div class="form-group">
                                    <input id="email" ng-model="email" type="email" class="form-control" placeholder="email" required
                                           maxlength="100">
                                </div>
                                <div class="form-group">
                                    <input id="email_re" ng-model="email_re" type="email" class="form-control" placeholder="retype email" required
                                           maxlength="100">
                                </div>
                                <div class="form-group">
                                    <input id="phone_number" ng-model="phone_number" type="text" class="form-control" placeholder="phone number" required
                                           minlength="8"
                                           maxlength="20">
                                </div>
                                <div class="form-group">
                                    <input id="username" ng-model="username" type="text" class="form-control" placeholder="username" required
                                           minlength="2"
                                           maxlength="50">
                                </div>
                                <div class="form-group">
                                    <input id="password" ng-model="password" type="password" class="form-control" placeholder="password" required
                                           minlength="6"
                                           maxlength="50">
                                </div>
                                <div class="form-group">
                                    <input id="password_re" ng-model="password_re" type="password" class="form-control" placeholder="retype password" required
                                           minlength="6" maxlength="50">
                                </div>

                                <div class="form-group text-right">
                                    <button class="btn btn-rounded btn-primary" onclick="goBack()"> Go Back</button>
                                    <span class="form-group text-right">
                            <button class="btn btn-rounded btn-primary" type="submit">Register</button>
                            </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</div>
